@import 'vanilla-framework/scss/base';
@import 'vanilla-framework/scss/patterns_grid';

@include vanilla-base;
@include vf-p-grid;
@include vf-p-grid-modifications;

// Temp layout
aside,
main {
  float: left;
}

aside {
  width: calc(20% - 1rem);
  border-right: 1px solid #ccc;
  margin-right: 1rem;
}

main {
  padding-left: 1rem;
  width: 80%;
}